Checkers/Connected Services/CheckersServiceReference/Checkers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Checkers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checkers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogItem" nillable="true" type="tns:LogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogItem" nillable="true" type="tns:ArrayOfLogItem" />
  <xs:complexType name="LogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Black" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="White" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogItem" nillable="true" type="tns:LogItem" />
</xs:schema>