Checkers/Connected Services/CheckersServiceReference/CheckersAppServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CheckersAppServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CheckersAppServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Checkers" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GameStatus">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BlackScore" type="xs:int" />
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Checkers" minOccurs="0" name="Log" nillable="true" type="q1:ArrayOfLogItem" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhiteScore" type="xs:int" />
      <xs:element minOccurs="0" name="WinPlayer" type="tns:WinPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStatus" nillable="true" type="tns:GameStatus" />
  <xs:simpleType name="WinPlayer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Game" />
      <xs:enumeration value="White" />
      <xs:enumeration value="Black" />
      <xs:enumeration value="Draw" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WinPlayer" nillable="true" type="tns:WinPlayer" />
  <xs:simpleType name="PlayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Game" />
      <xs:enumeration value="NetGame" />
      <xs:enumeration value="TestGame" />
      <xs:enumeration value="Collocation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayMode" nillable="true" type="tns:PlayMode" />
  <xs:simpleType name="Player">
    <xs:restriction base="xs:string">
      <xs:enumeration value="White" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>