Checkers/Connected Services/CheckersServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CheckersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ICheckersService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICheckersService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CheckersAppServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Checkers" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICheckersService_GetUserPasswordHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPasswordHash" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetUserPasswordHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPasswordHashResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetUserNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNames" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetUserNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetUserProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProperties" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetUserProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_ChangeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_ChangeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_DestroyGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_DestroyGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetActiveGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveGames" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetActiveGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveGamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetGameStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStatus" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetGameStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_StartNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_StartNewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_JoinNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinNewGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_JoinNewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinNewGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetDrawBoardScript_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrawBoardScript" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetDrawBoardScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrawBoardScriptResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseDown_InputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseDown" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseDownResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseMove_InputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseMove" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseMoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseUp_InputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseUp" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_OnBoardMouseUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnBoardMouseUpResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_RegisterForUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForUpdates" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_RegisterForUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_UpdateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGame" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GetDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckersService_GameUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameUpdated" />
  </wsdl:message>
  <wsdl:portType name="ICheckersService">
    <wsdl:operation name="GetUserPasswordHash">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetUserPasswordHash" message="tns:ICheckersService_GetUserPasswordHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetUserPasswordHashResponse" message="tns:ICheckersService_GetUserPasswordHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetUserNames" message="tns:ICheckersService_GetUserNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetUserNamesResponse" message="tns:ICheckersService_GetUserNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetUserProperties" message="tns:ICheckersService_GetUserProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetUserPropertiesResponse" message="tns:ICheckersService_GetUserProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/AddUser" message="tns:ICheckersService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/AddUserResponse" message="tns:ICheckersService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/ChangeUser" message="tns:ICheckersService_ChangeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/ChangeUserResponse" message="tns:ICheckersService_ChangeUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/DeleteUser" message="tns:ICheckersService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/DeleteUserResponse" message="tns:ICheckersService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/CreateGame" message="tns:ICheckersService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/CreateGameResponse" message="tns:ICheckersService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/DestroyGame" message="tns:ICheckersService_DestroyGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/DestroyGameResponse" message="tns:ICheckersService_DestroyGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveGames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetActiveGames" message="tns:ICheckersService_GetActiveGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetActiveGamesResponse" message="tns:ICheckersService_GetActiveGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetGameStatus" message="tns:ICheckersService_GetGameStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetGameStatusResponse" message="tns:ICheckersService_GetGameStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/StartNewGame" message="tns:ICheckersService_StartNewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/StartNewGameResponse" message="tns:ICheckersService_StartNewGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinNewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/JoinNewGame" message="tns:ICheckersService_JoinNewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/JoinNewGameResponse" message="tns:ICheckersService_JoinNewGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/EndGame" message="tns:ICheckersService_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/EndGameResponse" message="tns:ICheckersService_EndGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrawBoardScript">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetDrawBoardScript" message="tns:ICheckersService_GetDrawBoardScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetDrawBoardScriptResponse" message="tns:ICheckersService_GetDrawBoardScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseDown" message="tns:ICheckersService_OnBoardMouseDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseDownResponse" message="tns:ICheckersService_OnBoardMouseDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseMove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseMove" message="tns:ICheckersService_OnBoardMouseMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseMoveResponse" message="tns:ICheckersService_OnBoardMouseMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseUp" message="tns:ICheckersService_OnBoardMouseUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/OnBoardMouseUpResponse" message="tns:ICheckersService_OnBoardMouseUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterForUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/RegisterForUpdates" message="tns:ICheckersService_RegisterForUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/RegisterForUpdatesResponse" message="tns:ICheckersService_RegisterForUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/UpdateGame" message="tns:ICheckersService_UpdateGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/Disconnect" message="tns:ICheckersService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckersService/GetDate" message="tns:ICheckersService_GetDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GetDateResponse" message="tns:ICheckersService_GetDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckersService/GameUpdated" message="tns:ICheckersService_GameUpdated_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ICheckersService" type="tns:ICheckersService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ICheckersService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetUserPasswordHash">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserPasswordHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNames">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/ChangeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/DestroyGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveGames">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetActiveGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameStatus">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/StartNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinNewGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/JoinNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/EndGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrawBoardScript">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetDrawBoardScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseDown">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseMove">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseUp">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterForUpdates">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/RegisterForUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/UpdateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameUpdated">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GameUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICheckersService" type="tns:ICheckersService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICheckersService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserPasswordHash">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserPasswordHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNames">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProperties">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/ChangeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/DestroyGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveGames">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetActiveGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameStatus">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/StartNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinNewGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/JoinNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/EndGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrawBoardScript">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetDrawBoardScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseDown">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseMove">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardMouseUp">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/OnBoardMouseUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterForUpdates">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/RegisterForUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/UpdateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameUpdated">
      <soap12:operation soapAction="http://tempuri.org/ICheckersService/GameUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckersService">
    <wsdl:port name="NetNamedPipeBinding_ICheckersService" binding="tns:NetNamedPipeBinding_ICheckersService">
      <soap12:address location="net.pipe://localhost/CheckersAppServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/CheckersAppServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>THEGIFT\SHURIK</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICheckersService" binding="tns:NetTcpBinding_ICheckersService">
      <soap12:address location="net.tcp://localhost:5528/CheckersAppServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5528/CheckersAppServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>THEGIFT\SHURIK</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>